
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';
@import 'https://fonts.googleapis.com/css?family=Oswald';
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
*:focus {
    outline: none;
}
body {
  background-image:url('https://images.unsplash.com/27/landscape.JPG?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5871a70b497fe80c514dac20331bcb2a');
  background-size: cover;
  height: 20vh;
}
ul {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  /*border: 3px black solid;*/
}
.styleLink {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: black;
  /*border: 3px salmon solid;*/
}
.styleClock {
  text-align: center;
  margin-top: 100px;
  font-size: 150px;
  font-family: 'Roboto Condensed', sans-serif;
  color: darkgreen;
  /*border: 3px purple solid;*/
}
.find {
  margin-top: 230px;
  text-align: center;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
}
.example {
  margin-top: 230px;
  text-align: center;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
}
.inputParent {
  text-align: center;
  margin-top: 20px;
  /*border: 3px blue solid;*/
}
input {
  /*border: 3px seagreen solid;*/
  width: 600px;
  height: 80px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
}
input, select, textarea{
    font-size: 80px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
}
.styleText {
  text-align: center;
  margin-top: 60px;
  font-size: 90px;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  /*border: 3px gold solid;*/
}
.hello {
  font-size: 130px;
  text-align: center;
}
.styleData {
  text-align: center;
  margin-top: 30px;
  font-size: 100px;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  /*border: 3px orange solid;*/
}
.about {
  text-align: center;
  margin-top: 60px;
  color: darkgreen;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
}
.contact {
  text-align: center;
  margin-top: 150px;
  color: darkgreen;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
}
/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    /*background-image: url("https://images.unsplash.com/uploads/1412750321034baa5d127/d35c5980?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9bd557e0f7bfb501606b734adbd55324");*/
    background-size: cover;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    text-align: center;
    height: 48%;
    overflow: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 90px;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
/*.city {
  text-align: center;
  margin-top: 60px;
  font-size: 90px;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
}*/
/*.temp {
  text-align: center;
  margin-top: 60px;
  font-size: 90px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
}
.weather {
  text-align: center;
  margin-top: 60px;
  font-size: 90px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
}*/

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
